In [84]:
import json
import pandas as pd

In [85]:
data = open('article.json')
data = json.load(data)

In [86]:
data.keys()

dict_keys(['blocks', 'entityMap'])

In [87]:
blocks = data['blocks']

### 1. Ilość znaków w treści (type = "unstyled").

In [88]:
df = pd.DataFrame(blocks)
df.head(10)

,key,data,text,type,depth,entityRanges,inlineStyleRanges
0,c0u3k,{},"Podczas gdy PiS ucieka od tematu aborcji, chcą...",unstyled,0,[],[]
1,7avvq,{},,atomic,0,"[{'key': 0, 'length': 1, 'offset': 0}]",[]
2,52e7f,{},,unstyled,0,[],[]
3,dfk3v,{},,atomic,0,"[{'key': 1, 'length': 1, 'offset': 0}]",[]
4,akka4,{},\n,atomic,0,"[{'key': 2, 'length': 1, 'offset': 0}]",[]
5,bun0n,{},,atomic,0,"[{'key': 3, 'length': 1, 'offset': 0}]",[]
6,95vk3,{},Sondaż pokazuje na słabnący wpływ katolickiej ...,unstyled,0,"[{'key': 4, 'length': 6, 'offset': 0}]",[]
7,86fk5,{},Od 1993 roku (z półroczna przerwą w 1997) obow...,unstyled,0,"[{'key': 5, 'length': 46, 'offset': 337}]",[]
8,e75b7,{},,atomic,0,"[{'key': 6, 'length': 1, 'offset': 0}]",[]
9,cqo55,{},,unstyled,0,[],[]

In [89]:
df = df[(df['type'] == 'unstyled')]
df.head()

,key,data,text,type,depth,entityRanges,inlineStyleRanges
0,c0u3k,{},"Podczas gdy PiS ucieka od tematu aborcji, chcą...",unstyled,0,[],[]
2,52e7f,{},,unstyled,0,[],[]
6,95vk3,{},Sondaż pokazuje na słabnący wpływ katolickiej ...,unstyled,0,"[{'key': 4, 'length': 6, 'offset': 0}]",[]
7,86fk5,{},Od 1993 roku (z półroczna przerwą w 1997) obow...,unstyled,0,"[{'key': 5, 'length': 46, 'offset': 337}]",[]
9,cqo55,{},,unstyled,0,[],[]

In [90]:
letters = 0

df_text = df['text']

for letter in df_text:
    znaki = len(letter)
    letters = letters + znaki


print(letters)

7665

### 2. Użycie każdego znaku (type = "unstyled").

In [91]:
freq = {}

for letter in df_text:
    for x in letter.lower():
        if x in freq.keys():
            freq[x] = freq[x] + 1
        else:
            freq[x] = 1

In [92]:
freq

{'p': 244,
 'o': 535,
 'd': 220,
 'c': 280,
 'z': 310,
 'a': 564,
 's': 248,
 ' ': 1107,
 'g': 71,
 'y': 254,
 'i': 498,
 'u': 114,
 'e': 460,
 'k': 187,
 't': 237,
 'm': 120,
 'b': 123,
 'r': 289,
 'j': 176,
 ',': 74,
 'h': 51,
 'ą': 58,
 'ć': 22,
 'w': 308,
 'ó': 38,
 'ś': 33,
 'ł': 89,
 'n': 325,
 'ę': 54,
 'ż': 75,
 '"': 42,
 'l': 123,
 '.': 89,
 '2': 27,
 '0': 41,
 '1': 28,
 '8': 10,
 '5': 11,
 '9': 12,
 '3': 13,
 '(': 14,
 '7': 4,
 ')': 14,
 ':': 4,
 'f': 5,
 '-': 22,
 '4': 11,
 '[': 2,
 '=': 1,
 ']': 2,
 '/': 4,
 'ź': 5,
 '\\': 1,
 '6': 8,
 'ń': 7,
 '!': 1}

### 3. Ilość linków (entityMap -> type = "LINK").

In [141]:
entityMap = data['entityMap']

In [147]:
def amount(table, type):
    m = len(table) + 1
    n = 0
    values = []
    while n < m:
        try:
            if entityMap[str(n)]['type'] == str(type):
                values.append(entityMap[str(n)]['type'])
                n = n + 1
            else:
                n = n + 1
        except KeyError:
            n = n + 1
    return len(values)

In [148]:
amount(entityMap, 'LINK')

13

### 4. Ilość zdjęć w tekście (entityMap -> type = "IMAGE").

In [149]:
amount(entityMap, 'IMAGE')

10

### 5. Spis Id artykułów powiązanych (entityMap -> type = "RELATED_CONTENTS").

In [152]:

m = len(entityMap) + 1
n = 0
values = []
while n < m:
    try:
        if entityMap[str(n)]['type'] == 'RELATED_CONTENTS':
            values.append(entityMap[str(n)]['data']['nodes'])
            n = n + 1
        else:
            n = n + 1
    except KeyError:
        n = n + 1

print(values)

[['213ed3dd-800d-4b9b-abab-8a99e4e3cba7'], ['6bed0d13-44db-40f4-8481-4b415bb8cd76']]